@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 Need to keep tailwind theme config and css variables consistent. 
Can I import the tailwind theme values in to css variables? 
*/

:root {
  --dark-0: 0, 0, 0;
  --dark-1: 5, 5, 5;
  --dark-2: 18, 18, 18;
  --dark-3: 44, 44, 44;
  --dark-4: 56, 56, 56;
  --white: 255, 255, 255;
  --radius-half: '50%';
}

body {
  color: rgb(var(--white));
  background-color: rgb(var(--dark-1));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bounce {
  0%,
  100% {
    bottom: 0;
    transform: scaleY(0.5);
  }
  50% {
    bottom: 2px;
    transform: scaleY(1);
  }
}

.ball {
  background-color: rgb(6, 37, 6);
  animation: bounce 0.5s ease-in-out infinite;
}

.remove-prediction {
  pointer-events: all;
}
